.registration {

    display: flex;
    justify-content: center;
    flex-direction: column;
    /* background: #cec658; */
    max-height: 100vh;
    overflow: hidden;
    position: relative;
    z-index: 5;
}

.registr__form{
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}
.formRegister {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgba(255,255,255,0.5);
    width: 400px;
    height: 300px;
    /* margin: 40px auto; */
    /*border-radius: 15px;*/
    position: fixed;
    margin-top: 35%;
    border-top-left-radius:  60px;
    border-bottom-right-radius: 60px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
}
.btnRegister {
    width: 150px;
    /*border-radius: 5px;*/
    background: green;
    margin: 5px auto;
    border-top-left-radius:  20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
}
.inputRegister {
    width: 250px;
    border-top-left-radius:  20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    margin: 5px auto;
    height: 30px;
    outline:none;
}
.addPhoto {
    border-radius: 5px;
    margin: 5px auto;
    width: 135px;
    border-radius: 10px;
    /*border-top-left-radius:  5px;*/
    /*border-bottom-right-radius: 5px;*/
    /*border-bottom-left-radius: 5px;*/
    /*border-top-right-radius: 5px;*/
    padding:7px;
    width: 143px;


  display: flex;
  justify-content: center;
  flex-direction: column;
  /* background: #cec658; */
  max-height: 100vh;
  overflow: hidden;
  position: relative;
  z-index: 5;
}
.registr__form{
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}
.formRegister {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: rgba(255,255,255,0.5);
  width: 400px;
  height: 300px;
  /* margin: 40px auto; */
  /*border-radius: 15px;*/
  position: fixed;
  margin-top: 35%;
  border-top-left-radius:  60px;
  border-bottom-right-radius: 60px;
  border-bottom-left-radius: 15px;
  border-top-right-radius: 15px;
}
.btnRegister {
  width: 150px;
  /*border-radius: 5px;*/
  background: green;
  margin: 5px auto;
  border-top-left-radius:  20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 5px;
}
.inputRegister {
  width: 250px;
    border-top-left-radius:  20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
  margin: 5px auto;
  height: 30px;
  outline:none;
}
.addPhoto {
  border-radius: 5px;
  margin: 5px auto;
  width: 135px;
  border-radius: 10px;
  /*border-top-left-radius:  5px;*/
  /*border-bottom-right-radius: 5px;*/
  /*border-bottom-left-radius: 5px;*/
  /*border-top-right-radius: 5px;*/
  padding:7px;
  width: 143px;
}
.video{
  position: relative;
  padding-bottom: 56.25%;
  z-index: 1;
}
.video__media{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.login-form{
  padding-top: 15%;
}
.login{
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* background: #cec658; */
  max-height: 100vh;
  overflow: hidden;
  position: relative;
  z-index: 5;
}
::placeholder{
  text-align: center;

}
.video{
    position: relative;
    padding-bottom: 56.25%;
    z-index: 1;
}
.video__media{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.login-form{
    padding-top: 15%;
}
.login{
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* background: #cec658; */
    max-height: 100vh;
    overflow: hidden;
    position: relative;
    z-index: 5;
}


::placeholder{
    text-align: center;
}







