.comment-title{
  border: 2px solid orange;
  margin-bottom: 15px;
  padding: 6px;
  border-top-left-radius: 70px;
  border-bottom-right-radius: 70px;
  border-bottom-left-radius: 36px;
  border-top-right-radius: 36px;
}
.comment-item{
  text-align: start;
  margin-left: 45px;
  margin-right: 15px;
  color:rgb(241, 226, 137);
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 600;
}
