.student-box {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
}
.student-about {
  min-width: 35%;
  /* padding-top: 10px; */
}
.student-form {
  min-width: 65%;
}
.student-img {
  background-color: rgb(175, 167, 167);
  max-width: 300px;
  max-height: 300px;
  border-radius: 50%;
}
img {
  /* max-width: 100%;
  max-height: 100%; */
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
  object-position: 0% 15%;
  /* padding-top: 10px; */
}
.student-add__photo {
  display: flex;
  justify-content: flex-start;
}
.student-form__photo {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin-top: 15px;
}
.student-btn__photo-btn {
  display: flex;
  justify-content: flex-start;
  margin-top: 5px;
}
.student-form__photo-btn {
  max-width: 40%;
  margin-top: 10px;
}
.student-form__photo-input {
  border: 1px solid black;
  max-width: 300px;
}
.student-about__title {
  text-align: start;
}
.student-about__item {
  display: flex;
  max-width: 50%;
}
.about-item__box {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.about-item__change {
  max-width: 50%;
}
.about-item-btn {
  border: none;
}
.about-form__update {
  display: flex;
  flex-direction: column;
}
.student-update__text {
  border: none;
}

.react-pdf__Page__canvas {
  height: 100% !important;
  min-width: 100%;
  margin: 0 auto;
}
.react-pdf__Page__annotations {
  display: none;
}
.student-form {
  position: relative;
}
.react-pdf__Document{
  display: flex;
  justify-content: center;
  height: 100%;
}
.react-pdf__Page{
  width: 100%;
  height: 100%;
}
.pdf-prev {
  border: 0;
  background-color: hsla(0, 0%, 100%, 0);
  color: rgb(243, 161, 161);
  font-size: 5em;
  position: absolute;
  top: 36%;
  left: 0;
  transition: all 0.5s;
}
.pdf-next{
  border: 0;
  background-color: hsla(0, 0%, 100%, 0);
  color: rgb(243, 161, 161);
  font-size: 5em;
  position: absolute;
  top:36%;
  right: 0;
  transition: all 0.5s;
}
.student-form{

  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('../../public/zuglushka-rezume1.png') no-repeat center center ;
  background-size: cover;
}
.blockBackground{
  background:none;
}
.resume-show{
  width: 100%;
  height: 100%;
}
.blockLoadingPicture{
  /* display: none !important;  */
}
/* .resume-show div{
  height: 100%;
} */

