
.vacantion_container{
  margin-top: 120px;
    animation: show-vacancy 1.2s forwards;

}
.btnAddVac{
    width: 180px;
    height: 30px;
    background: rgb(243 217 99);
    /*margin: 20px;*/
    margin-bottom: 15px;
    border-radius: 10px;

}
.formAddVac{

}
.textareaVac{
    height: 80px;
}
.formSlideVac{
    width: 300px;
    margin: 30px auto;
}
.addBtnVac{
    background: rgb(243 217 99);
    border-radius: 10px;
    margin: 5px auto;
    height: 30px;
    width: 120px;
}
.selectSort{
    margin: 20px auto;
    height: 30px;
    border-radius: 5px;
}

.selectSort{
    margin: 5px;
}

.card{
  margin:15px 0;
  width: 400px;
  height: 210px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow:hidden;
  border-top-left-radius:  60px;
  border-bottom-right-radius: 60px;
  border-bottom-left-radius: 15px;
  border-top-right-radius: 15px;
  background-color: #5f3fb9;
}

.card_text_title{
  max-width:300px;
  overflow:hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color:rgb(243 217 99);
}

.card_text{
  max-width:300px;
  overflow:hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: rgb(243 217 99) !important;
  font-size: 22px;
}

.card_text_params{
  color: rgb(243 217 99) !important;
  font-size: 22px;
}

.cardVacancy{
  background-color: #5f3fb9;

    animation: show-vacancy 1.2s forwards;


  margin:200px auto 0 auto;
  text-align: center;
  display: flex;
  justify-content: center;
  width: 600px;
}

.vacantion {
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: show-addVacancy 1.2s forwards;

}

@keyframes show-addVacancy {
    0% {
        opacity: 0;
        transform: translateY(-200px)
        /*transform: translate3d(0,0,-500px) scale(0);*/
    }
    100% {
        opacity: 1;
        transform: translateY(0);
        /*transform: translate3d(0,0,0) scale(1);*/
    }
}

@keyframes show-vacancy {
    0% {
        opacity: 0;
        transform: translateY(-200px)
        /*transform: translate3d(0,0,-500px) scale(0);*/
    }
    100% {
        opacity: 1;
        transform: translateY(0);
        /*transform: translate3d(0,0,0) scale(1);*/
    }
}

.vacantion-box{
  padding-top: 6%;
}


